/* TaskCard.scss */
.task-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: background-color 0.3s ease;

    &.completed {
        background-color: #d4edda; /* Hijau muda untuk tugas selesai */
    }

    h3 {
        font-size: 1.25rem;
        font-weight: 600;
        color: #333;
    }

    .task-btn {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border-radius: 6px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #0056b3;
        }

        &:disabled {
            background-color: #6c757d;
        }
    }

    a {
        color: #007bff;
        text-decoration: underline;
        display: block;
        margin-top: 10px;
    }
}
